.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.em-1 { font-size: 1em; }
html {
	touch-action: manipulation;
}
body {
	margin: 0px;
	font-size: 9vw;
	line-height: 1.2;
	background-color: #7f7f7f;
}

button {
	-webkit-tap-highlight-color: transparent;
	outline: 0;
	appearance: none;
	border: 0;
	border-radius: 1vw;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-left: 1vw;
	padding-right: 1vw;
	margin: .5vw;
	height: 5vw;
	min-width: 5vw;
	background: #303030;
	color: #ffffff;
	font-size: 1em;
	transition: background 100ms;
}
button.hover {
	background: #91a2b8;
	transition: none;
}
button.disabled {
	background: #9b9b9b;
	transition: none;
}
button.shift {
	width: 13vw;
	height: 7vw;
}
button.function {
	font-size: .5em;
	width: 15vw;
	height: 9vw;
}
button.number {
	width: 19vw;
	height: 15vw;
}
button.enter {
	width: 39vw;
	height: 15vw;
}

div#main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}
div#display {
	margin: 1vw;
	background-color: rgb(122, 180, 147);
	color: black;
}
div#functions {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
div#numbers {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
div.button_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

span.button_shift {
	color: yellow;
	text-align: center;
	vertical-align: bottom;
	height: 6vw;
	font-size: .5em;
}