.material-icons.em-1 { font-size: 1em; }
html {
	touch-action: manipulation;
}
body {
	margin: 0px;
	font-size: 9vw;
	line-height: 1.2;
	background-color: #7f7f7f;
	font-family: sans-serif;
}

button {
	-webkit-tap-highlight-color: transparent;
	outline: 0;
	appearance: none;
	border: 0;
	border-radius: 1vw;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-left: 1vw;
	padding-right: 1vw;
	margin: .5vw;
	height: 5vw;
	min-width: 5vw;
	background: #303030;
	color: #ffffff;
	font-size: 1em;
	transition: background 100ms;
}
button.hover {
	background: #91a2b8;
	transition: none;
}
button.disabled {
	background: #9b9b9b;
	transition: none;
}
button.function {
	font-size: .5em;
	width: 15vw;
	height: 10vw;
}
button.number {
	width: 19vw;
	height: 15vw;
}
button.enter {
	width: 39vw;
	height: 15vw;
}
button.shift {
	background-color: rgb(219, 186, 0);
	color: black;
}
button.back {
	background-color: rgb(214, 25, 25);
}
button.memory {
	color: rgb(84, 100, 238);
}

div#main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}
div#display_wrap {
	margin: 0vw 0vw 2vw 0vw;
	flex-grow: 1;
}
div#display {
	display: flex;
	height: 100%;
	margin: 1vw;
	background-color: rgb(122, 180, 147);
	color: black;
	flex-direction: column;
	justify-content: space-between;
}
div#functions {
	margin: 0vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
div#numbers {
	margin: 0vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
div.button_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
div#status {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: .5em;
	margin: 1vw;
}
div.stack_wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1vw 10vw 1vw 1vw;
}

span.shift_text {
	color: yellow;
	text-align: center;
	vertical-align: bottom;
	height: 6vw;
	font-size: .5em;
}