.material-icons.em-1 { font-size: 1em; }
@font-face {
	font-family: 'DSEG7Classic-BoldItalic';
	src: url(DSEG7Classic-BoldItalic.ttf);
}

html {
	touch-action: manipulation;
}
body {
	margin: 0px;
	font-size: 4vh;
	line-height: 1.2;
	background-color: #7f7f7f;
	font-family: sans-serif;
}

button {
	-webkit-tap-highlight-color: transparent;
	outline: 0;
	appearance: none;
	border: 0;
	border-radius: 1vw;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-left: 1vw;
	padding-right: 1vw;
	margin: .5vw;
	height: 5vw;
	min-width: 5vw;
	background: #303030;
	color: #ffffff;
	font-size: 1em;
	transition: background 100ms;
	user-select: none;
}
button.hover {
	background: #91a2b8;
	transition: none;
}
button.disabled {
	background: #9b9b9b;
	transition: none;
}
button.function {
	font-size: .5em;
	width: 15vw;
	height: 5vh;
}
button.number {
	width: 19vw;
	height: 7vh;
}
button.exp {
	font-size: .5em;
}
button.enter {
	font-size: .5em;
	width: 39vw;
	height: 7vh;
}
button.shift {
	background-color: rgb(219, 186, 0);
	color: black;
}
button.back {
	background-color: rgb(214, 25, 25);
}
button.memory {
	color: rgb(84, 100, 238);
}
button.dropswap {
	color: rgb(214, 25, 25);
}

div#main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}
div#display {
	display: flex;
	height: 100%;
	margin: 1vw;
	background-color: rgb(122, 180, 147);
	color: black;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}
div#status {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 2.5vh;
	font-size: .5em;
	margin: 1vw;
}
div#m, div#drg{
	width: 30%;
}
div#stack_count {
	width: 35%;
	text-align: right;
}
div#functions {
	margin: 0vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
div#numbers {
	margin: 0vw 0vw 1vw 0vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
div.button_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
div.stack_wrap {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	margin: .5vw;
	height: 5vh;
}
div.stack_idx {
	font-size: .8em;
}
div.stack {
	font-family: DSEG7Classic-BoldItalic;
	font-size: 1em;
	flex-grow: 1;
	text-align: right;
}
div.stack_exp_wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vw;
	margin: 0 1vw;
}
div.stack_exp {
	font-family: DSEG7Classic-BoldItalic;
	font-size: .5em;
	text-align: right;
}
div.stack_exp_base {
	font-size: .5em;
}

div.shift_text {
	display: flex;
	color: yellow;
	justify-content: center;
	align-items: flex-end;
	height: 3vh;
	font-size: .5em;
	user-select: none;
}